<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]"
role="navigation">
  <div class="[ container ]">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="[ navbar-header ]">
      <button type="button" class="[ navbar-toggle ]"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="[ sr-only ]">Toggle navigation</span> <span
          class="[ icon-bar ]"></span> <span class="[ icon-bar ]"></span> <span
          class="[ icon-bar ]"></span>
      </button>
      <div class="[ animbrand ]">
        <a class="[ navbar-brand ][ animate ]" href="#"><img id="x2"
          alt="" src="./assets/Resources/img/logo_movil.png"></a> <a
          class="[ navbar-brand ][ animate ]" href="#"><img id="x1"
          alt="" src="./assets/Resources/img/cabecera.png"></a>
      </div>
    </div>

		<div class="[ collapse navbar-collapse ]"
      id="bs-example-navbar-collapse-1">
      <ul class="[ nav navbar-nav navbar-right ]">
        <li><a href="#" class="[ animate ]">Inicio</a></li>
  
        <li>
          <a href="#" class="[ dropdown-toggle ][ animate ]" 
            data-toggle="dropdown">Desarrolla tu Talento 
          <span class="[ caret ]"></span>
          </a>
          <ul class="[ dropdown-menu ]" role="menu" >
              <li><a href="" class="[ animate ]">Trabaja en PNCVFS</a></li>
              <li><a href="" class="[ animate ]">Practicas </a></li>
              <li><a href="" class="[ animate ]">Convenio Laboral Juvenil </a> </li>
          </ul>
        </li>
        <li><a href="#" class="[ animate ]">Conocenos</a></li>
        
				<li class="[ dropdown ]">
          <a href="#"
            class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Normatividad
              <span class="[ caret ]"></span>
          </a>
					<ul class="[ dropdown-menu ]" role="menu">
						<li><a href="#" class="[ animate ]">Ficha de datos</a></li>
						<li><a href="#" class="[ animate ]">Directivas</a></li>
						<li><a href="#" class="[ animate ]">Resolucones</a></li>
          </ul>
        </li>
        <li><a class="animate" href="login_externo.html">Registrate
            aqui</a></li>
        <li><a class="animate" href="login_interno.html">Intranet</a></li>
      </ul>
    </div>
  </div>
</nav>


	<div role="main">
		<div class="col-lg-12"
			style="margin-top: 5%; padding-left: 0; padding-right: 0;">
			<div class="div-banner">
				<img alt="" src="./assets/Resources/img/imgRec1.png" class="img-banner">
			</div>

			<div class="container" style="display: none;">
				<hr />
				<h4 class="text-center">TRABAJA EN EL PROGRAMA NACIONAL CONTRA
					LA VIOLENCIA FAMILIAR Y SEXUAL - MIMP</h4>
				<hr />
			</div>
		</div>
		<div class="col-lg-12"
			style="background-color: rgb(153, 0, 0); padding: 9px 0 9px 0;">
			<div class="container">
				<form class="form-inline" style="">
					<select class="form-control select-search">
						<option disabled="disabled" selected>Cuidad</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select> <select class="form-control select-search">
						<option disabled="disabled" selected>Puesto</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select> <input type="text" class="form-control input-search"
						placeholder="Palabra Clave">

					<button type="button" style="width: 123px;" class="btn btn-primary">
						Buscar &nbsp; <i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-lg-12">
				<div class="">
					<table id="tbl_convocatoria" class="table table-striped nowrap"
						width="100%" cellspacing="0">
						<thead>
							<tr>
								<th width="3%">#</th>
								<th>Cargo</th>
								<th width="10%" class="text-center">Fecha de publicacion</th>
								<th width="15%">Estado</th>
								<th width="20%" class="text-center">Resultado<br> <span
									style="font-size: 13px;"> Ev.Curric &nbsp; Entrevista
										&nbsp; Ganador </span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td><a href="convocBases.html"> <strong> CAS No
											501-2017 </strong> Psicologo senior
								</a></td>
								<td>03-11-2017</td>
								<td>Abierto</td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											502-2017 </strong> Jefe de Tesoreria
								</a></td>
								<td>30-10-2017</td>
								<td>Abierto</td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											503-2017 </strong> Gerente de Marketing y Ventas
								</a></td>
								<td>26-10-2017</td>
								<td>Abierto</td>
								<td></td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											504-2017 </strong> Oportunidades laborales
								</a></td>
								<td>25-10-2017</td>
								<td>En proceso</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;
								</td>
							</tr>
							<tr>
								<th scope="row">5</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											505-2017 </strong> Analista Junior Procerement
								</a></td>
								<td>25-10-2017</td>
								<td>En proceso</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a></td>
							</tr>
							<tr>
								<th scope="row">6</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											506-2017 </strong> Oportunidades laborales en Finanzas
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td><a href="convocBases.html"> <strong> CAS N°
											507-2017 </strong> Vendedor
								</a></td>
								<td>25-10-2017</td>
								<td>Cerrado</td>
								<td><a href="javascript:;"><i class="fa fa-user"></i></a>&nbsp;&nbsp;&nbsp;<a
									href="javascript:;"> <i class="fa fa-users"></i>
								</a>&nbsp;&nbsp;&nbsp;<a href="javascript:;"><i
										class="fa fa-trophy"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


  
	
	<footer>
    <div class="container" style="color: white;">
      <!-- <div class="col-md-6" >
          <p class="text-footer">
              <i class="fa fa-check icon-footer"></i>  Horario de Atencion al publico: Lunes a Viernes de 8:00 a.m. a 4:00 p.m. <br>
              <i class="fa fa-check icon-footer"></i>  Direccion: Jr. Camana 616 - Lima, Peru - Central telefonica: (01) 6261600
            </p>
        </div>-->
      <div class="col-md-6">
        <img alt="" src="./assets/Resources/img/LOGO_MINP.png" class="img-footer">
      </div>
    </div>
    </footer>